:root{
    --navbar-height:60px;
}

body::before{
    content: "";
    background:url("bg.jpg") no-repeat center center/cover; 
    position: absolute;
    height: 150%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1; 
    opacity: 0.95;
}


/* Title */        
#title{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3.2rem;
    color:chartreuse;
}
.desc{
    text-align: center;
    font-family: cursive;
    font-size: 1.7rem;
    color: blue;

}
h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
}

        
/* Navbar */
#navbar{
    align-items: center;
    justify-content: center;
    display: flex;
    margin:auto;
    font-family: cursive;
    top: 0;
    height: var(--navbar-height);
    padding: 2px 7px;
}
#navbar::before{
    content:"";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0;
}


/* Navbar : List Styling */
#navbar ul{
    display: flex;
    
}
#navbar ul li{
    list-style: none;
    font-size: 2.8rem;  
    color:rgb(0, 255, 255);
}
#navbar ul li a{
    
    display: block;  /*to use padding*/
    padding: 4px;
    margin-right: 7px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: blue;
    border-bottom: 3px solid black;
    border-radius: 10px;
}


/* Prices section */

.services-container h1{
    margin-top: 20px;
    text-align: center;
    color: cyan;
    font-size: 3rem;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}
#services{
    margin: 25px;
    display: flex;
}
#services .box h2,#services .box p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.7rem;
}
#services .box{
    border: 2px solid red;
    margin: 10px;
    padding:10px;
    border-radius: 28px;
    background: gray;
    width: 18%;
}
#services .box img{
    border: 1px solid green;
    border-radius: 15%;
    height: 30%;
    display: block;
    margin: auto;
}

